/*Reseta o documento*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-height: 100%;
    background-color: #fff;
}

/*Limpa flutuação*/
.clear{
    clear: both;
}
/*Classe para sinalizar erro*/
.erro{
    background-color: #ffe0ed;
    border: 2px solid #ff0000;
    color: #ff0000;
}
/*Formatação da div feedback*/
.feedback.ativo{
    display: inline-block;
}

.feedback{
    z-index: 999;
    cursor: pointer;
    position: fixed;
    display: none;
    width: 100%;
    max-width: 600px;
    height: 50px;
    left: 50%;
    top: 50px;
    padding: 0 10px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    transform: translateX(-50%);
}

.feedback p{
    display: inline-block;
    line-height: 50px;
}

.feedback button{
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    color: #0c7800;   
    border: 0;
    font-weight: 600;
    outline: none;
    background-color: rgba(255,255,255, 0);
}
/*Classe para sinalizar sucesso*/
.sucesso{
    background-color: rgba(202, 255, 196, 0.8);
    border: 2px solid #0c7800;
    color: #0c7800;   
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Classe de Progresso e Carregamento*/
.box-progresso{
    z-index: 999;
    position: relative;
    display: inline-block;
    width: 100%;
}

#progresso{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        position: relative;
        max-width: 250px;
        width: 60%;
    }
    .progresso-wraper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 100%;
    }
    .progresso-conteudo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .progresso-conteudo p{
        position: relative;
        font-size: 30px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
    .progresso-conteudo .progresso-animacao{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-top: 10px solid rgb(255,0,0);
        -webkit-animation-name: animacao-progresso;
                animation-name: animacao-progresso;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
}
    @-webkit-keyframes animacao-progresso{
        0%{
            transform: rotate(0deg);
        }
        14.28%{
             transform: rotate(45deg);
        }
        28.56%{
             transform: rotate(90deg);
        }
        42.84%{
             transform: rotate(135deg);
        }
        57.12%{
            transform: rotate(180deg);
        }
        71.40%{
            transform: rotate(225deg);
        }
        85.68%{
            transform: rotate(270deg);
        }
        99.96%{
           transform: rotate(315deg);
        }
    }
    @keyframes animacao-progresso{
        0%{
            transform: rotate(0deg);
        }
        14.28%{
             transform: rotate(45deg);
        }
        28.56%{
             transform: rotate(90deg);
        }
        42.84%{
             transform: rotate(135deg);
        }
        57.12%{
            transform: rotate(180deg);
        }
        71.40%{
            transform: rotate(225deg);
        }
        85.68%{
            transform: rotate(270deg);
        }
        99.96%{
           transform: rotate(315deg);
        }
    }

/*header*/
header{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    background-color: rgba(255,0,0,1);
}

header .container-logo{
    width: 100%;
    max-width: 141px;
    height: 100%;
    background-image: url("../images/logo-crud-3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

header a{
    display: inline-block;
    width: 141px;
    height: 30px;
}


.menu-mobile{
    cursor: pointer;
    display: none;
    float: right;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/*Fim header*/


/*Container para pagina de confirmação do cadastro*/
.container-confirmacao{
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

/*Fim*/

/*Configuração do responsivo*/
/****************************/
@media screen and (max-width: 800px){

    .section-buscar-pokemon p:nth-of-type(1){
        width: 50%;
        float: left;
        margin: 0;
        padding-right: 15px;
        text-align: right;
    }

    .section-buscar-pokemon p:nth-of-type(2){  
        width: 50%;
        float: left;
        margin: 0;
        text-align: left;
    }

    div.container-pokemon{
        width: calc(100%/3);
    }
}

@media screen and (max-width: 500px){
    /*Menu responsivo*/

    .menu-mobile{
        display: block;
    }

    nav.controle-menu{
        z-index: 999;
        position: absolute;
        display: block;
        height: calc(100% - 75px);
    }

    .menu{
        display: none;
        z-index: 998;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        padding: 2%;
        height: calc(100% - 50px);
    }

    .menu ul{
        width: 100%;
    }

    .menu ul#menu li, .menu ul#botao_sair li{
        width: 100%;
        margin: 0;
        text-align: center;
        font-weight: bold;
    }

    .menu ul#menu li:hover, .menu ul#botao_sair li:hover{
        background-color: rgba(42, 177, 222, 0.2);
    }

    .menu ul#menu li a, .menu ul#botao_sair li a{
        display: inline-block;
        width: 100%;
        padding: 20px 0;
        margin: 0;
        font-weight: bold;
    }

    .menu .botao-sair{
        display: none;
        color: #fff;
    }

    .progresso-conteudo p{
        font-size: 22px;
    }

    .section-padrao,.section-home{
        min-height: calc(100% - 75px);
    }

    .section-pokemon{
        padding: 5px 20px;
    }

    div.container-pokemon{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    /*Dados do usuario*/
    #lista tr:not(.desc) td{
        text-align: center;
    }

    #lista tr td{
        font-size: 10px;
    }

    table#lista tr.desc:nth-of-type(3) td{
        font-size: 12px;
        padding: 10px 0;
        text-align: center;
    }

    table#lista tr.desc:nth-of-type(1) td:nth-of-type(3){
        -moz-column-span: 2;
             column-span: 2;
    }

    footer{
        position: relative;
        z-index: 998;
    }
}

/****************************/

.section-home{
    width: 100%;
    min-height: calc(100% - 115px);
    height: calc(100% - 115px);
    
}

/*Efeito tela HOME pokemon*/
/*******************************/

.container-principal .slide .part1{
     background: linear-gradient(to left,rgb(255,255,255),rgba(220,220,220,0),rgba(220,220,220,0));
    width: 50%;
    height: 100%;
     float: left;
}

.container-principal .slide .part2{
     background-color: rgb(255,255,255);
     width: 50%;
     height: 100%;
     float: left;
}

.container-principal .slide{
    position: absolute;
    left: 100%;
    width: 200%;
    height: 100%;
   -webkit-animation-name: slide_pokemon;
           animation-name: slide_pokemon;
   -webkit-animation-duration: 5s;
           animation-duration: 5s;
   -webkit-animation-iteration-count: 1;
           animation-iteration-count: 1;
}

@-webkit-keyframes slide_pokemon{
    0%{
      display: initial;
      left: -100%;  
    }
    100%{
      display: none;
      left: 200%;
    }
}

@keyframes slide_pokemon{
    0%{
      display: initial;
      left: -100%;  
    }
    100%{
      display: none;
      left: 200%;
    }
}

.section-home .container-principal{
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-image: url("../images/pokemon.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation-name: pokemon;
            animation-name: pokemon;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    overflow: hidden;
}

@-webkit-keyframes pokemon{
    0%{
        transform: rotateY(0deg);
    }
    20%{
        transform: rotateY(20deg);
    }
    40%{
        transform: rotateY(0deg);   
    }
    60%{
        transform: rotateY(20deg)   
    }
    80%{
        transform: rotateY(0deg)   
    }

}

@keyframes pokemon{
    0%{
        transform: rotateY(0deg);
    }
    20%{
        transform: rotateY(20deg);
    }
    40%{
        transform: rotateY(0deg);   
    }
    60%{
        transform: rotateY(20deg)   
    }
    80%{
        transform: rotateY(0deg)   
    }

}

/*Fim Efeito*/
/*Formação de container principal login e cadastro*/
.login, .cadastro{
    display: inline-block;
    position: relative;
    width: 100%;
    height: calc(100% - 75px);
    padding: 0 3%;
    text-align: center;
    background-color: #fff;
}

.login .pokebola-superio, .cadastro .pokebola-superio{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #f00;
    border-bottom: 4px solid #000;
}

.login .pokebola-inferior, .cadastro .pokebola-inferior{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    border-top: 4px solid #000;
}

.pokebola-superio .circulo-grande{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 2%;
    background-color: rgba(255,255,255,0.62);
}

.pokebola-superio .circulo-pequeno{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10%;
    background-color: rgba(255,255,255,0.30);   
}
/*Formação de container principal cadastro*/
.validacao{
    display: inline-block;
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    padding: 10px 2%;
    text-align: center;
}
/*Formatação login, cadastro e validação h2*/

.login h2{
    display: none;
    margin-top: 20px;
    color: #0099bf;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.cadastro h2{
    z-index: 999;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    /*text-shadow: 0 5px 5px rgba(0,0,0,0.2);*/
}

.validacao h2{
    margin-top: 20px;
    color: #0099bf;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

/*Formatação de formulario login e cadastro*/
.login #formulario,.cadastro #formulario{
    position: relative;
    z-index: 999;
    width: 130px;
    height: 130px;
    top: 50%;
    /*Centralizando vertical*/
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    text-align: left;
    background-color: rgb(255,255,255);
    border: 8px solid rgb(0,0,0);
    text-align: center;
}

/*.login #formulario, .cadastro #formulario{
    position: relative;
    z-index: 999;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    text-align: left;
    background-color: rgb(255,255,255);
    border: 8px solid rgb(0,0,0);
}*/

#formulario #btn-login-animado{
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 50%;
    /*Centralização vertical*/
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background: transparent;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: #00AFEF;
    outline: none;
}

#formulario.anima-login #btn-login-animado{
    display: none;
}

.login form label{
    font-size: 12px;
    color: #008da6;
    font-weight: bold;  
}

/*Animação do login*/

#formulario.anima-login{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px 5px;
    border-radius: 15px;
    border: 0;
    -webkit-animation-name: anima-container-form;
            animation-name: anima-container-form;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

#formulario.anima-login form{
    -webkit-animation-name: anima-conteudo-form;
            animation-name: anima-conteudo-form;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    opacity: 100%;
    display: inline-block;
}

#formulario.anima-login a{
    -webkit-animation-name: anima-conteudo-form;
            animation-name: anima-conteudo-form;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    opacity: 100%;
    display: block;
}

@-webkit-keyframes anima-container-form{
    0%{
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    100%{
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 15px;
    }
}

@keyframes anima-container-form{
    0%{
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    100%{
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 15px;
    }
}

@-webkit-keyframes anima-conteudo-form{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes anima-conteudo-form{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}

 /*Fim*/ 
/*Formatação de formulario login e cadastro*/
#formulario form{
    display: none;
    width: 100%;
    padding: 10px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 1s;
}

#formulario input[type=submit]{
    display: none;
}

#formulario form input[type="text"], #formulario form input[type="password"]{
    padding: 0 10px;
    outline: none;
    width: 100%;
    font: 30px;
    margin: 10px auto;
    line-height: 40px;
    border: 2px solid #E6E7E8;
}

#form-login label, #form-cadastro label{
    cursor: pointer;
    display: inline-block;
    background-color: #00AFEF;
    font-size: 25px;
    margin-top: 20px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

#logar:hover,#cadastrar:hover{
    box-shadow: 0 0 20px rgba(0,141,166,0.4);
}

#formulario a{
    display: none;
    color: #008da6;
    font-style: oblique;
    text-decoration: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 1s;
}

#formulario a:hover{
   color: #f00; 
}

/*Fim*/
/*Section com formatação padrão padrão*/
.section-padrao{
    width: 100%;
    min-height: calc(100% - 150px);
    text-align: center;
}
/*Section de informção do usuario*/
.section-info-usuario{
    width: 100%;
    padding: 10px;
}

.section-info-usuario #container-usuario{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 2%;
    border-radius: 10px;
}

#container-usuario.fundo, #section-pokemon.fundo{
    background-color: #FFFBD9;
}


/*Dados do Usuario*/
.section-info-usuario form label.label-meus-pokemons{
    cursor: pointer;
    background-color: #00e80f;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}

.section-info-usuario form label.label-meus-pokemons:hover{
    box-shadow: 0 3px 5px rgba(0,0,0,0.7);
}

#container-pokemon-usuario{
    width: 100%;
}

#lista{
    width: 100%;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
}

#lista tr:not(.desc) td{
    font-weight: bold;
    border: 0;
    padding: 10px;
    color: #00AFEF;
    background-color: transparent;
}

#lista tr.desc td{
    color: rgb(220,220,220);
    padding: 3px;   
}

#lista tr.desc{
    color: #fff;
    background-color: transparent;
    padding: 0;
}

#lista tr:nth-of-type(4){
    display: none;
}

#lista tr:nth-of-type(3) td{
    text-align: center;
    padding: 20px 0;
}

#lista tr:nth-of-type(3) td label:nth-of-type(1){
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(0,175,239); 
    margin: 10px 2%; 
}

#lista tr:nth-of-type(3) td label:nth-of-type(2){
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(237,50,55); 
    margin: 10px 2%;
}

#lista tr:nth-of-type(3) td label:hover{
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#lista tr td button{
    display: none;
}

#lista tr td label{
    cursor: pointer;
}

.hide{
    display: none;
}

#lista tr:nth-of-type(3) td .editar-perfil, #lista tr:nth-of-type(3) td .excluir-perfil{
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: #FFFBD9;
}

#lista tr:nth-of-type(3) td .editar-perfil form, #lista tr:nth-of-type(3) td .excluir-perfil form{
    padding: 20px 15px;
    max-width: 280px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid rgb(230,230,230);
    background-color: #fff;
}

#lista tr:nth-of-type(3) td .editar-perfil form input[type="text"],#lista tr:nth-of-type(3) td .editar-perfil form input[type="password"], #lista tr:nth-of-type(3) td .excluir-perfil form input[type="password"]{
    padding: 0 10px;
    outline: none;
    width: 100%;
    font: 30px;
    border-radius: 5px;
    outline: none;
    color: rgb(150,150,150);
    border: 2px solid rgb(230,230,230);
    margin: 5px auto;
    line-height: 40px;
}

#lista tr:nth-of-type(3) td .editar-perfil form button,#lista tr:nth-of-type(3) td .excluir-perfil form button{
    display: none;
}

#lista tr:nth-of-type(3) td .editar-perfil form label{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    color: #fff;
    background-color: rgb(0,175,239); 
}

#lista tr:nth-of-type(3) td .excluir-perfil form label{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
    color: #fff;
    background-color: rgb(237,50,55);
}


/*Fim Section de informção do usuario*/
/*Menu de navegação*/
.menu{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #F6997E;
    overflow: hidden;
}

.menu-ativado{
    background-image: url("../images/menu-mobile-hover.png");
}

.menu-desativado{
    background-image: url("../images/menu-mobile.png");   
}

#menu{
    display: inline;
    list-style: none;
    line-height: 40px;
    float: left;

}

#menu li{
    float: left;
    margin: 0 30px;
}
#menu li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 7px;
    color: #000;
    border-radius: 5px;
    border: 1px solid #f00;
    background-color: #fff;
}

#menu li a:hover{
    background-color: #00AFEF;
    color: rgb(255,255,255);
}

#botao_sair{
    height: 100%;
    display: block;
    list-style: none;
    float: right;
}
#botao_sair li{
    height: 100%;
    display: inline-block;
    float: left;
    margin: 0 30px;
}
#botao_sair li a{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #f00;
    background-color: #F26B52;
}

 #botao_sair li a:hover{
    background-color: rgb(255,0,0);
 }

#botao_sair #sair{
    float: right;
}

/*Fim do menu de navegação*/
/**/
#msg{
    color: red;
    position: absolute;
    margin-top: 100px;
}
/*Mensagem com efeito piscando*/
p.rotulo_informativo{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: rgb(100,100,100);
    -webkit-animation-name: piscar;
            animation-name: piscar;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes piscar{
    0%{
      color: rgb(100,100,100);  
    }
    50%{
      color: rgb(255,0,0);  
    }
    100%{
      color: rgb(100,100,100);    
    }
}

@keyframes piscar{
    0%{
      color: rgb(100,100,100);  
    }
    50%{
      color: rgb(255,0,0);  
    }
    100%{
      color: rgb(100,100,100);    
    }
}

/*Fim mensagem*/
/*Section Lista Pokémon*/
.section-listaPoke{
    padding: 20px 3%;
}

.section-listaPoke .container{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFFBD9;
}

.section-padrao .section-buscar-pokemon{
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    max-width: 600px;
    text-align: center;
}

.section-buscar-pokemon p,.section-buscar-pokemon form{
    display: inline-block;
    float: left;
}

.section-buscar-pokemon p:nth-of-type(1){
    display: none;
    color: #009fe8;
    font-size: 25px;
    font-weight: bold;
    
}

.section-buscar-pokemon p:nth-of-type(2){
    display: none;
    color: #009fe8;
    font-size: 25px;
    font-weight: bold;
    margin: 0 5px;
}

.section-buscar-pokemon form{
    display: inline-block;
    width: 100%;
}

.section-buscar-pokemon form input[type=text]{
    display: inline-block;
    width: calc(100% - 40px);
    height: 30px;
    padding: 0 10px;
    outline: none;
    border: 0.5px solid #aaa;
    border-radius: 5px;
    float: left;
}

.section-buscar-pokemon form input[type=submit]{
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid #aaa;
    background-color: #009fe8;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    float: left;
}

.section-listaPoke .section-pokemon{
 width: 100%;
 padding: 10px;
 text-align: center;
}

.section-pokemon #form-captura-pokemon{
    display: inline-block;
    
}

#container-pokemon-usuario{
    display: inline-block;
    padding: 5px 0;
}

.container-pokemon{
    cursor: pointer;
    width: calc(100% / 5);
    left: -1px;
    padding: 5px;
    text-align: left;
    border-radius: 20px;
    float: left;
}

.container-pokemon .btn-descartar button:hover,.container-pokemon .btn-capturar label:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.container-pokemon .img-pokemon{
    position: relative;
    z-index: 902;
    width: 100%;
    padding-top: 100%;
    border-radius: 20px;
    background-color: #fff;
}

.img-pokemon img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container-pokemon .name-pokemon{
    position: relative;
    z-index: 901;
    top: -15px;
    width: 100%;
    text-align: center;
    border-radius: 0 0 20px 20px;
    background-color: #009fe8;
}

.container-pokemon .name-pokemon p{
    font-size: min(100%, 20px);
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 10px 10px 10px;
    color: #fff;
}

.container-pokemon .atributos-pokemon{
    position: relative;
    top: -30px;
    width: 100%;
    height: 180px;
    overflow-y: auto;
    padding: 45px 0 5px 0;
    background-color: rgb(255,255,255);
}

.atributos-pokemon .container-organiza{
    display: inline-block;
    width: 100%;
}

.container-organiza p, .container-organiza b{
    padding: 5px;
    font-size: 10px;
    float: left;   
}

.container-organiza p{
    text-transform: uppercase;
    color: #555;
}

.container-organiza b{
    color: #006e78;   
}

.container-pokemon .btn-capturar{
    width: 100%;
    text-align: center;
} 

.section-pokemon .busca-retorno{
    display: inline-block;
    width: 100%;
    max-width: 500px;
    font-size: 35px;
}

/*Fim da Section Lista Pokémon*/

/*Zona dos botoes*/
/*************************/

/*Botão capturar Pokémon*/
.btn-capturar{
    position: relative;
    top: -30px;
}

.btn-capturar label{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 2px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #00e80f;
    border-radius: 0 0 20px 20px;
    border: none;
    color: #fff;
    outline: none;
}

/*Botão descartar Pokémon*/
.btn-descartar{
    position: relative;
    top: -30px;
    border-radius: 0 0 20px 20px;
}

.btn-descartar button{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 2px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0 0 20px 20px;
    background-color: rgb(237,50,55);
    border: none;
    color: #fff;
    outline: none;
}
/*************************/
/*Fim da zona dos Botões*/
/*Footer*/
footer{
    width: 100%;
    height: 25px;
    background-color: #fff;
    text-align: center;
}

footer p{
    display: inline-block;
    font-size: 15px;
    width: 100%;
    color: #A9ABAE;
}

/*Fim Footer*/
/*************Fim***********/
